name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      # Step 1: Pull your code into the runner
      - name: Checkout code
        uses: actions/checkout@v4
        
       # Step 2: Build Docker image
      - name: Build Docker image
        run: docker build -t simple-ci-app-azure .
