name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      # Step 1: Pull your code into the runner
      - name: Checkout code
        uses: actions/checkout@v4
        
       # Step 2: Build Docker image
      - name: Build Docker image
        run: docker build -t simple-ci-app-azure .

              # Step 4: Test SSH connection to Azure VM
      - name: Test SSH connection
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.AZURE_HOST }}
          username: ${{ secrets.AZURE_USER }}
          key: ${{ secrets.AZURE_SSH_KEY }}
          script: |
            echo "Connected to Azure VM"
            hostname
            docker --version

